


  

<div class="Slider-container">

  {% for image in product.images %}
    <div class="Thumbnail-container">
      <img class="Thumbnail active" src="{{ image.src | img_url: 'thumb' }}" alt="{{ image.alt | escape }}">
    </div>
  {% endfor %}

 
      <div class="Main-image-container">
        <img class="Main-image" src="IMG_URL" alt="Imagem Principal">
      </div>
   
</div>

